body {
    overflow-y: hidden;
}
#networkView {
/* width: 100%;
height: 600px; */
/* min-height: 600px; */
border: 1px solid lightgray;
}


#nodedata {
  width: 100%;
  resize: none;
  border: 1px solid lightgray;
  /* overflow-y: scroll;
  overflow-x: scroll; */
  white-space: nowrap;
  white-space: pre;

}


#header {
  height: 10px;
}

:focus {
    outline: 0;
}

.footer {
    margin-top: 15px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    background-color: #f5f5f5;
    /* background-color: darkgrey; */
}

#csvFileInput{
    /* max-width: 200px; */
}


#flab1.custom-file-label,
#flab1.custom-file-label::after,
#flab2.custom-file-label,
#flab2.custom-file-label::after {
  height: auto;
  padding-top: 3px;
  padding-bottom: 3px;
}



/* #myModal {
    visibility: hidden;
} */

/* #myModal {
  position: relative;
} */

/* .modal-dialog {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 1px;
}

.modal-header{
     background-color: #CDE1FF;

}
.modal-content {
    overflow:hidden;
} */

#myModal {
    line-height: normal;
}



/*  vis.js styles  */
.vis-configuration.vis-config-header {
    font-weight: bold;
    font-size: 125%;
    padding: 10px 0 10px 0;
}

.vis-configuration.vis-config-rangeinput {
    max-width: 80px;
}

.vis-configuration.vis-config-range {

}
