body {
    /* overflow-y: hidden; */
}
#networkView {
/* width: 100%;
height: 600px; */
/* min-height: 600px; */
border: 1px solid lightgray;
}


#nodedata {
  /* height: 50%; */
  width: 100%;
  /* min-height: 300px; */
  resize: none;
  border: 1px solid lightgray;
  /* overflow-y: scroll;
  overflow-x: scroll; */
  white-space: nowrap;
  white-space: pre;

}


#header {
  height: 10px;
}

:focus {
    outline: 0;
}

.footer {
    margin-top: 15px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    /* border-top: 1px dotted black; */
  background-color: #f5f5f5;
  /* height:50px; */
}

#csvFileInput{
    max-width: 200px;
}


#flab1.custom-file-label,
#flab1.custom-file-label::after,
#flab2.custom-file-label,
#flab2.custom-file-label::after {
  height: auto;
  padding-top: 3px;
  padding-bottom: 3px;
}
