body {
    overflow-y: hidden;
}
#networkView {
border: 1px solid lightgray;
}


#edgedata, #nodedata {
  width: 100%;
  resize: none;
  border: 1px solid lightgray;
  /* overflow-y: scroll;
  overflow-x: scroll; */
  white-space: nowrap;
  white-space: pre;

}

.customTooltip {
    /* max-width: 25rem; */
}


#header {
  height: 10px;
}

:focus {
    outline: 0;
}

.footer {
    margin-top: 15px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    background-color: #f5f5f5;
    /* background-color: darkgrey; */
}

#edgecsvfile.custom-file-label,
#edgecsvfile.custom-file-label::after,
#nodecsvfile.custom-file-label,
#nodecsvfile.custom-file-label::after {
  height: auto;
  padding-top: 3px;
  padding-bottom: 3px;
}

#myModal {
    line-height: normal;
}


/*  vis.js styles  */
.vis-configuration.vis-config-header {
    font-weight: bold;
    font-size: 125%;
    padding: 10px 0 10px 0;
}

.vis-configuration.vis-config-rangeinput {
    max-width: 80px;
}

.vis-configuration.vis-config-range {

}
